APP_NAME=نظام المطبعة
APP_ENV=production
APP_KEY=base64:lBIsSRMq3nyHRuAmI6p+LVUJ9I900+1c7mmauIB8QPc=
APP_DEBUG=false
APP_URL=https://print-api-production-5ee8.up.railway.app
DB_CONNECTION=mysql
DB_HOST=${{MySQL.RAILWAY_PRIVATE_DOMAIN}}
DB_PORT=3306
DB_DATABASE=railway
DB_USERNAME=root
DB_PASSWORD=WMjQrhJvgETuexxdHSJiLFKEoKExARcH
FRONTEND_URL=https://print-app-production.up.railway.app
SESSION_DRIVER=file
